@font-face {
	font-family: 'Inter';
	src: url('$lib/assets/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('$lib/assets/fonts/Inter-Bold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('$lib/assets/fonts/Inter-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('$lib/assets/fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
* {
	font-family: 'Inter', 'sans-serif';
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
